@use 'variables' as *;
@use 'mixins' as *;

.hero {
  background-color: $dark-violet;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 5%;
    background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat left;
    z-index: 8;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    bottom: -19%;
    background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat
      bottom right;
    z-index: 8;
  }

  @include responsive-size(large) {
    &::before {
      top: initial;
      left: 0%;
      bottom: -52%; // -55%
      background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat
        left bottom; // 417%
    }

    &::after {
      right: 0%;
      top: -12%;
      background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat
        top right;
    }
  }

  &__inner {
    width: 100%;
    padding-bottom: 9rem;

    @include responsive-size(large) {
      padding: 12rem 2rem 12.5rem 2rem;
      height: 65rem;
      display: flex;
      flex-direction: row-reverse;
      gap: 3rem;
    }

    @include responsive-size(xlarge) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 45rem;
    background: url("../images/image-intro-mobile.jpg") no-repeat center center /
      cover;
    position: relative;
    z-index: 9;

    @include responsive-size(medium) {
      height: 65rem;
      background-image: url("../images/image-intro-desktop.jpg");
    }
  }

  &__content {
    padding: 10rem 2rem 0 1.5rem;
    text-align: center;
    color: $very-light-gray;
    position: relative;
    z-index: 10;

    @include responsive-size(large) {
      padding: 10rem 0 0 0;
      text-align: left;
      position: relative;

      &::after {
        @include title-bar($very-light-gray);
      }
    }
  }

  &__headline {
    color: $very-light-gray;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 1.7;
    opacity: 0.9;
    margin: 1.8rem 0 3.5rem 0;
  }

  &__button {
    @include button($very-light-gray, $very-light-gray, $very-dark-violet);
  }
}
